body{
    background-color: whitesmoke;
    margin: 0px;
}
.navbar{
    background-color: #222;
    color: #fff;
}
.navbar-brand{
    color: #fff;
}
.navbar-brand:hover{
    color: #fec503;
}
.nav-item a {
	font-family: 
	font-weight: 400;
	letter-spacing: 1px;
	color:#fff
}
.nav-item a:hover{
    color: #fec503;
}
.navbar-toggler-icon{
    color: #fff;
}
.navbar-toggler-icon:hover{
    color: #fec503;
}

header{
    background-image: url(./img/2696888.jpg);
    background-position: center;
    background-size: cover;
    text-align: center;
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 100px 80px;

    
}
.container{
    min-height: 100vh;
    justify-content: center;
    text-align: center;
    position: relative;

}

/*portfolio*/
ul.foto{
    list-style: none;

}
section.work{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 100px 80px;
}

footer {
    padding: 30px;
    background-color: #000;    
}