body{
    background-color: whitesmoke;
}
.navbar{
    background-color: #222;
    color: #fff;
}
.navbar-brand{
    color: #fff;
}
.navbar-brand:hover{
    color: #fec503;
}
.nav-item a {
	font-family: 
	font-weight: 400;
	letter-spacing: 1px;
	color:#fff
}
.nav-item a:hover{
    color: #fec503;
}
.navbar-toggler-icon{
    color: #fff;
}
.navbar-toggler-icon:hover{
    color: #fec503;
}

header{
    text-align: center;
    color: #fff;
}

footer {
    padding: 30px;
    background-color: #000;    
}